# Anycubic i3 Mega S - Klipper config (Locus, 2026-05-30 CC)
# Base: Klipper shipped printer-anycubic-i3-mega-2017.cfg
#   (pins verified against miyukic/Marlin-AI3M-BLTouch pins_TRIGORILLA_14.h - exact match)
# Overrides from miyukic Marlin Configuration.h (real values for THIS machine).
# Z homing: dual mechanical endstops (PD3=right / PL6=left), same as Marlin.
# BLTouch: bed mesh leveling only (not used for Z homing).

[include fluidd.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

[virtual_sdcard]
path: /home/orangepi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
#enable_force_move: True

[stepper_x]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_min: -5
position_endstop: -5
position_max: 210
homing_speed: 30.0

[stepper_y]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PL7
position_endstop: 0
position_max: 210
homing_speed: 30.0

[stepper_z]
step_pin: PL3
dir_pin: PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PD3
position_endstop: 0.0
position_min: 0
position_max: 205
homing_speed: 5.0
second_homing_speed: 2.0

[stepper_z1]
step_pin: PC1
dir_pin: PC3
enable_pin: !PC7
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PL6

[bltouch]
sensor_pin: ^PE4
control_pin: PB5
x_offset: -1
y_offset: -23
z_offset: 1.802
speed: 5.0
samples: 2
sample_retract_dist: 3.0

[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 200, 187
probe_count: 5, 5

[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
microsteps: 16
# 384 steps/mm geared extruder (Marlin: was stock 92.6, upgraded to 384) -> 3200/384
rotation_distance: 8.333
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5
#control: pid
#pid_Kp: 15.717
#pid_Ki: 0.569
#pid_Kd: 108.451
min_temp: 0
max_temp: 245
min_extrude_temp: 170

[heater_fan extruder_fan]
pin: PL5

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
#control: pid
#pid_Kp: 74.883
#pid_Ki: 1.809
#pid_Kd: 775.038
min_temp: 0
max_temp: 110

[fan]
pin: PH6

[heater_fan stepstick_fan]
pin: PH4

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 60

# ===========================================================================
# BLTouch pin reference (Marlin pins_TRIGORILLA_14.h):
#   control_pin (servo / orange) = SERVO0_PIN      = Arduino D11 = PB5
#   sensor_pin  (signal / white) = Z_MIN_PROBE_PIN = Arduino D2  = PE4
#   probe offsets: x_offset: -1   y_offset: -23
#   z_offset: calibrate with PROBE_CALIBRATE, then SAVE_CONFIG
# Mechanical Z endstops: PD3=right(stepper_z) / PL6=left(stepper_z1)
# ===========================================================================

[gcode_macro G28]
rename_existing: G28.1
gcode:
    G28.1 {rawparams}
    {% if 'z' in rawparams|lower or rawparams == '' %}
        G1 Z5 F600
    {% endif %}


[filament_switch_sensor filament_sensor]
pause_on_runout: True
switch_pin: ^PD2


[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE


[output_pin beeper]
pin: PC6
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

[gcode_macro M300]
gcode:
    {% set S = params.S|default(1000)|int %}
    {% set P = params.P|default(100)|int %}
    {% if S > 0 %}
        SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S }
        G4 P{P}
        SET_PIN PIN=beeper VALUE=0
    {% else %}
        G4 P{P}
    {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.802
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.004250, 0.056750, 0.108000, 0.099250, 0.060500
#*# 	0.083000, 0.159250, 0.190500, 0.180500, 0.141750
#*# 	0.103000, 0.158000, 0.203000, 0.195500, 0.168000
#*# 	0.093000, 0.158000, 0.183000, 0.179250, 0.153000
#*# 	0.070500, 0.126750, 0.151750, 0.126750, 0.070500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 200.0
#*# min_y = 10.0
#*# max_y = 187.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.630
#*# pid_ki = 0.994
#*# pid_kd = 117.612
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.183
#*# pid_ki = 1.474
#*# pid_kd = 908.388
